body {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #efefef;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    padding: 0 1.5rem; /* Adds some padding on smaller screens */
}

main {
    margin: 2.5rem 0;
}

h1 {
    margin: 0;
    padding-top: 2.5rem;
    font-size: 1.875rem;
    font-weight: 700;
}

.font-normal{
    font-weight: 400;
}

.text-orange{
    color: #e4740e;
}
.text-orange a{
    color: #e4740e;
}

.introduction p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    max-width: 55ch;
    color: #98908a;
    margin-bottom: 40px;
    orphans: 3; /* Prevents orphans in text blocks */
    widows: 3; /* Prevents orphans in text blocks */
    text-wrap: pretty; /* Allows text to break more intelligently */
    hyphens: auto; /* Ensures smoother text flow */
}

ul{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    list-style: none;
    color: #98908a;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    color: #98908a;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
    transition: color 0.2s ease;
}

a:hover, a:focus {
    color: #fea34e;
    text-decoration-thickness: 4px;
    outline: none; /* Removes default focus outline */
}

a:focus {
    outline: 3px solid #589eff;
    outline-offset: 2px;
}
